:root{
    --main-color:#DCA153;
    --black:#552D0F;
    --border:0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
   
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
/*O header é o Menu */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--black);
}
.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Agrupa logo + navbar no lado esquerdo */
.left-side {
    display: flex;
    align-items: center;
}

/* Logo */
.logo img {
    height: 50px; /* ajuste conforme sua logo */
    margin-right: 2rem;
}

/* Navegação */
.navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--main-color);
}

.navbar a:hover {
    color: #ffffff;
    border-bottom: 0.1rem solid #ffffff;
    padding-bottom: 0.5rem;
    font-size: 2.1rem;
}

/* Lado direito: áreas */
.areas {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--main-color);
}

.areas a, .areas button {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--main-color);
    background-color: #552D0F;
    border: none;
    cursor: pointer;
}

.areas button:hover,
.areas a:hover {
    color: #ffffff;
    border-bottom: 0.1rem solid #ffffff;
    padding-bottom: 0.5rem;
}


/*Imagem de fundo*/
body {
  background: url("img/principal.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/*Formulário*/
main {
  background-color: #afaaaada;
  width: 60%;
  margin: 120px auto;
  padding: 8px 40px;
  border-radius: 12px;
}

h1 {
  text-align: center;
  color: var(--black);
  margin-bottom: 13px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px; /* espaçamento entre linhas e colunas */
}

label {
  display: block;
  font-weight: bold;
  color: var(--black);
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 6px;
}
input::placeholder {
  color: black;   
  opacity: 1; /* garante que a cor apareça 100% */
}


.full-width {
  grid-column: span 2;
}

.botao {
  grid-column: span 2;
  text-align: center;
  margin-top: 20px;
}

main button {
  background-color: var(--black);
  color: var(--main-color);
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}

main button:hover {
  background-color: #4b2e0f;
}



